
body{
    padding:10px , 50px;
    margin-bottom: 25px;
}

.formdesign{
    font-size: 20px;
    padding: 20px;
   

}


.btn{
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    margin: 22px,10px;
    
margin: 165px;
 
margin-top: 10px;
   
}
   
    form div input {
        width: 100%;
        height: 40px;
        border-radius: 20px;
        outline: none;
        border: 8px solid #aea5a5;
        padding: 0px 30px;
        box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.1);
        margin: 12px;
    }
        
      
      form {
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
        max-width: 400px;
        box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.8);
        box-sizing: content-box;
        padding: 90px;
        margin: 576px;
  
margin-top: 40px;
      }   
      h1{
        color: darkgrey;
        margin: -5px;
        font-style: oblique;
        padding-bottom: 48px;
        
       
        
      }
     
